.favorite-btn {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.18);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-btn:hover {
  transform: scale(1.1);
}

.favorite-btn.active {
  background: #fff0f3;
}